:root {
  --color-primary: #{$color-black};
  --color-secondary: #{$color-mishka};
  --color-secondary-darken: #{darken($color-mishka, 10%)};
  --color-accent: #{$color-dodger-blue};
  --background-primary: #{$color-solitude};
  --background-secondary: #{$color-white};
  --background-skeleton: #{darken($color-white, 10%)};
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input,
select,
textarea {
  font-size: 1rem;
  font-family: inherit;
}

.data-table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  th {
    background: grey;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
  }
  tr {
    background: lightblue;
  }
  td {
    padding: 0.5rem;
  }
}

dialog {
  min-width: 400px;
}
.form-controls {
  display: flex;
  justify-content: space-between;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  label {
    display: block;
  }
  & select,
  & input {
    display: block;
    width: 100%;
  }
  textarea {
    display: block;
    resize: vertical;
    margin-right: 0;
    width: 100%;
  }
}
