$link-color: #f5deb3;
$background-primary: #282c34;
$color-primary: #fff;

$font-icon: 'fontello';
$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-secondary: 'Arial Narrow';

//palette
$color-white: rgb(255, 255, 255);
$color-black: rgb(5, 5, 5);
$color-solitude: rgb(240, 242, 245);
$color-dodger-blue: rgb(45, 136, 255);
$color-bunker: rgb(36, 37, 38);
$color-mishka: rgb(176, 179, 184);
$color-buttercup: rgb(217, 130, 43);

$color-blue: rgb(0, 123, 255);
$color-indigo: rgb(102, 16, 242);
$color-purple: rgb(111, 66, 193);
$color-pink: rgb(232, 62, 140);
$color-red: rgb(220, 53, 69);
$color-orange: rgb(253, 126, 20);
$color-yellow: rgb(255, 193, 7);
$color-green: rgb(40, 167, 69);
$color-teal: rgb(32, 201, 151);
$color-cyan: rgb(23, 162, 184);
$color-grey: rgb(173, 181, 189);
